body
{
  background-color: white;
}

.container
{
  margin-top: 10rem;
}

h1, h2, h3, p, a
{
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

a
{
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
