.row
{
  margin-bottom: 40px;
}

h1, h2, p, a
{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Play', sans-serif;
}

.social-links a
{
  -webkit-box-shadow: 0 2px 2px -1px grey;
     -moz-box-shadow: 0 2px 2px -1px grey;
          box-shadow: 0 2px 2px -1px grey;
}

.social-links a:link {
    text-decoration: none;
}

.social-links a:visited {
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: none;
}

.social-links a:active {
    text-decoration: none;
}

.flickr-images img
{
  margin-bottom: 25px;
  max-width: 100% !important;
  max-width: auto !important;
  height: auto !important;
/*  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
      -ms-box-shadow: 0 8px 6px -6px black;
       -o-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;*/
}

.flickr-images img:hover
{
/*  -webkit-box-shadow: 0px 8px 20px -5px black;
     -moz-box-shadow: 0px 8px 20px -5px black;
      -ms-box-shadow: 0px 8px 20px -5px black;
       -o-box-shadow: 0px 8px 20px -5px black;
          box-shadow: 0px 8px 20px -5px black;*/
  -webkit-transform:scale(1.04);
     -moz-transform:scale(1.04);
      -ms-transform:scale(1.04);
       -o-transform:scale(1.04);
          transform:scale(1.04);
}
